form{
width: 90%;
max-width: 400px;
background-color: #F3F1F1;
padding: 33px 40px;
align-items: center;
border-radius: 15px;
}

label{
  color: black;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}

textarea {
background-color: #FFFFFF;
border: 2px solid #717171;
border-radius: 5px;
margin-bottom: 25px !important;
min-height: 50px;
font-size: 18px;
text-align: center;
}